.createGIF {
    display: none;
    position: relative;

    &-wrapper {
        background-color: var(--background-light);
        height: 83vh;
    }

    &-record {
        position: absolute;
        top: 15em;
        left: 10em;
    }

    &-tape {
        position: absolute;
        top: 25em;
        left: 75em;
    }

    &-container {
        padding: 6em 0 0 3em;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-square {
            border: 2px solid var(--icon-text-color);
            height: 22em;
            width: 48%;
            margin: auto;
            position: relative;

            &-video {
                border: 3px solid $color-greenLight;
                height: 90%;
                width: 95%;
                margin: 2% auto;
                position: relative;

                &-broadness {
                    background-color: var(--background-light);
                    width: 102%;
                    height: 80%;
                    margin: 5% -.3em;
                }

                &-highness {
                    background-color: var(--background-light);
                    height: 110%;
                    width: 90%;
                    margin: -21em 2em;
                }

                &-firsStep {
                    background-color: var(--background-light);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 50%;
                    margin: auto;

                    &-title {
                        font-family: $Montserrat;
                        font-size: 25px;
                        color: var(--icon-text-color);
                        text-align: center;
                        line-height: 35px;
                    }

                    &-text {
                        font-family: $Roboto;
                        font-size: 16px;
                        color: --text-color;
                        text-align: center;
                        line-height: 28px;
                    }
                }
            }
        }

        &-recordContainer {
            display: none;
            height: 100%;
            position: relative;
            justify-content: center;

            &-record {
                height: 100%;
                width: 100%;
                margin: auto;
            }

            &-cardBack {
                display: none;
                flex-direction: column;
                position: absolute;
                bottom: 0;
                width: 63%;
                height: 100%;
                background: var(--navbar-bg-mobile);

                &-iconContainer {
                    display: flex;
                    align-self: end;
                    margin: 1em 1em;

                    &-icon {
                        background-color: $color-white-opacity7;
                        border-radius: 5px;
                        color: var(--icon-text-color);
                        text-align: center;
                        margin-left: .5em;
                        cursor: pointer;
                    }

                    :hover {
                        background-color: $color-white;
                    }
                }

                &-infoContainer {
                    font-family: $Roboto;
                    padding: 4em 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &-icon {
                        color: $color-greenLight;
                        padding: 1em;
                    }

                    &-titleLoading {
                        margin: 0;
                        font-size: 16px;
                        font-weight: 700;
                        color: $color-white;
                    }
                }
            }
        }

        &-buttoms {
            padding: 1em 0;
            width: 50%;
            margin: auto;
            display: flex;
            justify-content: center;
            position: relative;

            &-repeatLink {
                display: none;
                font-family: $Montserrat;
                font-size: 13px;
                color: var(--icon-text-color);
                letter-spacing: 0;
                text-transform: uppercase;
                position: absolute;
                right: 0;
                cursor: pointer;
                padding-bottom: 0.5em;
            }

            :after {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                right: 0;
                border-bottom: 3px solid $color-greenLight;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .4s linear;
            }

            :hover:after {
                transform: scaleX(1);
                transform-origin: right;
            }
        }

        &-line {
            border: 4px solid var(--icon-text-color);
            border-radius: 20px;
            width: 60%;
            margin-bottom: 1em;
        }

        &-recordButon {
            display: none;
        }

        &-finishButon {
            display: none;
        }

        &-upGifoButon {
            display: none;
        }
    }
}