.favorites {
    display: none;

    &-wrapper {
        background-color: var(--background-light);
    }

    &-gifGalery {
        text-align: center;
        padding: 6em 0 4em;
        max-width: $maxWdthMobile;
        margin: auto;

        &-title {
            font-family: $Montserrat;
            font-weight: 700;
            font-size: $size20;
            color: var(--icon-text-color);
            text-align: center;
            line-height: $size30;
            text-transform: capitalize;
            margin: 0;
        }

        &-noContent {
            padding-top: 5em;
            width: $maxWdthMobile;
            margin: auto;

            &-content {
                color: $color-greenLight;
                font-family: $Montserrat;
                font-weight: 700px;
                font-size: 22px;
                line-height: 33px;
            }
        }

        &-container {
            display: none;
            padding: 2em 0 3em;
            // display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 1em;
            grid-column-gap: 5%;
        }
    }
}

@media screen and (min-width: 768px) {
    .favorites {
        &-gifGalery {
            &-container {
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: 2em;
            }
        }
    }
}

@media screen and (min-width: 1350px) {
    .favorites {
        &-gifGalery {
            max-width: $maxWdthDesktop;

            &-title {
                font-size: $size25;
            }

            &-noContent {
                padding-top: 7em;
                width: 40%;
            }

            &-container {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}