.footer {
    background-color: var(--background-light);

    &-container {

        &-text {
            font-family: $Roboto;
            font-weight: 400;
            font-size: $size15;
            color: var(--text-color);
            text-align: center;
            margin: 0;
            padding: 4em 0 1.5em;
        }

        &-icons {
            display: flex;
            justify-content: center;

            &-icon {
                font-size: $size20;
                padding: 0 .5em;
                color: $color-gray;
            }
        }

        &-pie {
            text-align: center;
            font-family: $Roboto;
            font-weight: 400;
            font-size: $size14;
            color: var(--text-color);
            ;
            text-align: center;
            line-height: $size20;
            margin: 0;
            padding: 3em 0 2em;
        }
    }
}

@media screen and (min-width: 1350px) {
    .footer {
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-content: center;
            padding: 3em 0;
            max-width: $maxWdthDesktop;
            margin: auto;
        }

        &-container {
            display: flex;
            align-items: center;

            &-icons {
                padding-left: 1em;

                :hover {
                    color: var(--icon-hover);
                }
            }

            &-text {
                font-size: $size13;
                padding: 0;
            }

            &-pie {
                font-size: $size13;
                line-height: $size13;
                padding: 0;
            }
        }
    }
}