.header {
    background-color: transparent;
    position: relative;

    &-icon {
        font-size: $size24;
        color: $color-purple;
        position: absolute;
        top: 1.5em;
        right: 1em;

        &.active {
            display: none;
        }
    }
    
    &-iconX {
        display: none;
        font-size: $size24;
        color: $color-purple;
        position: absolute;
        top: 1.5em;
        right: 1em;

        &.active {
            display: initial;
        }
    }

    &-imgContainer {
        max-width: $maxWdthMobile;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding-top: 1.5em;

        &-logo {
            &-mobile {
                &-noc {
                    display: none;
                }
            }

            &-desktop {
                display: none;

                &-noc {
                    display: none;
                }
            }
        }
    }
}

.navbar {
    display: none;
    position: absolute;
    width: 100%;
    margin: 1em 0 0;
    background: rgba(87, 46, 229, 0.90);
    height: 90vh;
    font-family: $Montserrat;
    font-weight: 700;
    font-size: $size15;
    text-transform: capitalize;
    line-height: $size60;

    &.active {
        display: initial;
    }

    &-items {
        list-style: none;
        text-align: center;
        padding: 1em 0 0;

        &-item {
            position: relative;

            &-link {
                text-decoration: none;
                color: $color-white;
                display: block;

                &-gifos {
                    text-transform: uppercase;
                }
            }

            :first-child::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: calc(50% - 20px);
                width: 40px;
                border-bottom: 1px solid $color-white;
            }
        }
    }
}

@media screen and (min-width: 1350px) {
    .header {
        max-width: $maxWdthDesktop;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1em;

        &-icon {
            display: none;
        }

        &-iconX {
            display: none;
        }

        &-imgContainer {
            margin: 0;
            padding: 0;

            &-logo {
                &-mobile {
                    display: none;
                }

                &-desktop {
                    display: initial;
                }
            }

            &-icon {
                display: none;
            }
        }
    }

    .navbar {
        display: flex;
        position: initial;
        height: initial;
        width: initial;
        line-height: initial;
        background: transparent;
        font-size: $size13;
        margin: 0;

        &-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;

            &-item {
                padding-right: 4em;

                &-link {
                    color: $color-purple;
                    position: relative;
                }

                :first-child::after {
                    display: none;
                }

                :before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: -20%;
                    height: .2em;
                    width: 100%;
                    color: $color-black;
                    background: $color-greenLight;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .4s linear;
                }

                :hover:before {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }

        &-link {
            text-decoration: none;
        }
    }
}