.header {
    width: 100%;
    background-color: var(--background-light);
    position: fixed;
    z-index: 1;

    &-container {
        &-wrapper {
            max-width: $maxWdthMobile;
            margin: auto;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &-icon {
        font-size: $size24;
        color: VAR(--icon-text-color);
        padding-top: 1.2em;

        &.active {
            display: none;
        }
    }

    &-iconX {
        display: none;
        font-size: $size24;
        color: var(--icon-text-color);
        padding-top: 1.2em;

        &.active {
            display: initial;
        }
    }

    &-imgContainer {
        max-width: $maxWdthMobile;
        margin: 0;
        padding: 1.5em 0 .5em;

        &-logo {
            &-mobile {
                &-noc {
                    display: none;
                }
            }

            &-desktop {
                display: none;

                &-noc {
                    display: none;
                }
            }
        }
    }
}

.navbar {
    display: none;
    position: absolute;
    width: 100%;
    background: var(--navbar-bg-mobile);
    height: 90vh;
    font-family: $Montserrat;
    font-weight: 700;
    font-size: $size15;
    text-transform: capitalize;
    line-height: $size60;

    &.active {
        display: initial;
        position: fixed;
        top: 5.6em;
        // margin: auto;x   
    }

    &-items {
        list-style: none;
        text-align: center;
        padding: 1em 0 0;

        &-item {
            position: relative;

            &-link {
                text-decoration: none;
                color: $color-white;
                display: block;

                &-gifos {
                    text-transform: uppercase;
                }
            }

            :first-child::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: calc(50% - 20px);
                width: 40px;
                border-bottom: 1px solid $color-white;
            }
        }
    }
}

@media screen and (min-width: 1350px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1em;

        &-container {
            width: $maxWdthDesktop;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-wrapper {
                margin: 0;
            }
        }

        &-icon {
            display: none;
        }

        &-iconX {
            display: none;
        }

        &-imgContainer {
            margin: 0;
            padding: 0;

            &-logo {
                &-mobile {
                    display: none;
                }

                &-desktop {
                    display: initial;
                }
            }

            &-icon {
                display: none;
            }
        }
    }

    .navbar {
        display: flex;
        position: initial;
        height: initial;
        width: initial;
        line-height: initial;
        background: transparent;
        font-size: $size13;
        margin: 0;

        &-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0 0 .5em;

            &-item {
                padding-right: 4em;

                &-link {
                    color: var(--icon-text-color);
                    position: relative;
                }

                :first-child::after {
                    display: none;
                }

                :before {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: -20%;
                    height: .2em;
                    width: 100%;
                    background: $color-greenLight;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform .4s linear;
                }

                :hover:before {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }

        &-link {
            text-decoration: none;
        }
    }
}