.principal {
    max-width: $maxWdthMobile;
    margin: auto;
    padding: 2em 0;

    &-title {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: $size25;
        color: $color-purple;
        text-align: center;
        line-height: $size33;
        width: 80%;
        margin: auto;
        padding-bottom: 1.5em;

        &-GIFOS {
            color: $color-greenLight;
        }
    }

    &-container {
        display: flex;
        justify-content: center;

        &-img {
            max-width: 80%;
        }
    }

    &-bar {
        height: 50px;
        width: 100%;
        margin: auto;
        background: transparent;
        border: 1px solid $color-purple;
        border-radius: $size27;
        border-radius: $size27;
        align-items: center;
        position: relative;

        &-searchBar {
            width: 100%;
            height: inherit;
            margin-left: 1.5em;
            border: none;
            background: transparent;
            font-family: $Roboto;
        }

        ::placeholder {
            font-weight: 400;
            font-size: $size16;
            color: $color-gray;
        }

        &-icon {
            color: $color-purple;
            font-size: $size24;
            position: absolute;
            right: 1.2em;
            top: .5em;
        }

        &-iconX {
            opacity: 0;
            color: $color-purple;
            font-size: $size30;
            position: absolute;
            right: 1.1em;
            top: .3em;
        }

        &-containerIconX {
            display: none;
        }
    }

    :focus {
        outline: none;
    }

    &-introContainer {
        padding-top: 2em;
        width: 60%;
        margin: auto;
        color: $color-purple;
        text-align: center;

        &-subTitle {
            font-family: $Montserrat;
            font-weight: 700;
            font-size: $size16;
            line-height: $size25;
            margin: 0;
        }

        &-paragraph {
            font-family: $Montserrat;
            font-size: $size14;
            line-height: $size25;
        }
    }
}

@media screen and (min-width: 768px) {
    .principal {
        &-title {
            width: 50%;
        }
        
        &-bar {
            width: 70%;
        }

        &-introContainer {
            width: 30%;
        }
    }
}

@media screen and (min-width: 1100px) {
    .principal {
        max-width: $maxWdthDesktop;
        padding: 5em 0;

        &-title {
            font-size: $size35;
            width: 50%;
            line-height: $size50;
            padding-bottom: 1em;
        }

        &-bar {
            width: 50%;
        }

        &-introContainer {
            padding-top: 5em;

            &-subTitle {
                font-size: $size18;
            }

            &-paragraph {
                font-size: $size16;
            }
        }
    }
}