.principal {
    max-width: $maxWdthMobile;
    margin: auto;
    padding: 2em 0;

    &-title {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: $size25;
        color: $purple;
        text-align: center;
        line-height: $size33;
        width: 80%;
        margin: auto;
        padding-bottom: 1.5em;

        &-GIFOS {
            color: $greenLight;
        }
    }

    &-container {
        display: flex;
        justify-content: center;

        &-img {
            max-width: 80%;
        }
    }

    &-bar {
        height: 50px;
        width: 100%;
        margin: auto;
        background: $BackWhite;
        border: 1px solid $purple;
        border-radius: $size27;
        border-radius: $size27;
        display: flex;
        align-items: center;

        &-searchBar {
            width: 80%;
            height: 44px;
            margin-left: 1.5em;
            border: none;
        }

        ::placeholder {
            font-family: $Roboto;
            font-weight: 400;
            font-size: $size16;
            color: $gray;
        }

        &-icon {
            color: $purple;
            font-size: $size24;
        }

        &-containerIconX {
            display: none;
        }
    }

    :focus {
        outline: none;
    }

    &-introContainer {
        padding-top: 2em;
        width: 40%;
        margin: auto;
        color: $purple;
        text-align: center;

        &-subTitle {
            font-family: $Montserrat;
            font-weight: 700;
            font-size: $size16;
            line-height: $size25;
            margin: 0;
        }

        &-paragraph {
            font-family: $Montserrat;
            font-size: $size14;
            line-height: $size25;
        }
    }
}

@media screen and (min-width: 1350px) {
    .principal {
        max-width: $maxWdthDesktop;
        padding: 5em 0;

        &-title {
            font-size: $size35;
            width: 50%;
            line-height: $size50;
            padding-bottom: 1em;
        }

        &-bar {
            width: 50%;
        }

        &-introContainer {
            padding-top: 5em;

            &-subTitle {
                font-size: $size18;
            }

            &-paragraph {
                font-size: $size16;
            }
        }
    }
}