.serchingResult {
    display: none;
    padding-top: 2em;

    :first-child::after {
        content: '';
        position: absolute;
        top: 0;
        right: 20%;
        width: 60%;
        border-bottom: 2px solid $color-greenLight;
    }

    &-gifGalery {
        text-align: center;
        padding: 4em 0 4em;
        max-width: $maxWdthMobile;
        margin: auto;
        position: relative;

        &-title {
            font-family: $Montserrat;
            font-weight: 700;
            font-size: $size20;
            color: var(--icon-text-color);
            text-align: center;
            line-height: $size30;
            text-transform: capitalize;
            margin: 0;
        }

        &-container {
            display: none;
            padding: 2em 0 3em;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 1em;
            grid-column-gap: 5%;
        }
    }

    &-cardBack {
        display: none;
    }
}

@media screen and (min-width: 1350px) {
    .serchingResult {
        :first-child::after {
            right: 35%;
            width: 30%;
        }

        &-gifGalery {
            max-width: $maxWdthDesktop;

            &-title {
                font-size: $size25;
            }

            &-noContent {
                padding-top: 7em;
                width: 40%;
            }

            &-container {
                padding-top: 4em;
                grid-template-columns: repeat(4, 1fr);

                &-searchWrapper {
                    position: relative;
                    height: 200px;
                }
            }
        }
    }
}

.serchingResult-gifGalery-container-searchWrapper:hover .cardBack {
    transform: rotateX(0) scale(1);
}