.searching {
    text-align: center;
    padding: 2em 0 5em;
    display: none;

    &-title {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: $size25;
        color: $color-purple;
        text-align: center;
        line-height: $size40;
        text-transform: capitalize;
    }

    &-container {}
}