.trending {
    background-color: var(--background-dark);
    padding: 4em 0;

    &-textcontainer {
        text-align: center;
        margin: auto;
        padding-bottom: 2em;

        &-title {
            font-family: $Montserrat;
            font-weight: 700;
            color: var(--icon-text-color);
            font-size: $size20;
            line-height: $size30;
            margin: 0;
            padding-bottom: .5em;
        }

        &-paragraph {
            font-family: $Roboto;
            font-size: $size16;
            color: var(--text-color);
            line-height: $size22;
            width: 50%;
            margin: auto;
        }
    }

    &-container {
        &-card {
            &-gifs {
                height: 200px;
                margin-left: 5%;
                display: flex;
                overflow: auto;
            }
        }
    }

    &-cardBack {
        display: none;
    }

    &-cardExpanded {
        display: none;
        background: $color-white-opacity9;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 1;

        &-iconX {
            color: var(--icon-text-color);
            font-size: 25px;
            text-align: right;
            margin: 2em 5%;
        }

        &-imageContainer {
            &-buttom {
                display: none;
            }
        }

        &-container {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: auto;
            padding-top: 2em;

            &-info {
                color: var(--text-color);

                &-user {
                    font-family: $Roboto;
                    font-size: $size15;
                    font-weight: 400;
                    margin: 0;
                    padding-bottom: .5em;
                }

                &-title {
                    font-family: $Montserrat;
                    font-weight: 700;
                    font-size: $size16;
                    margin: 0;
                }
            }

            &-containerIcons {
                display: flex;

                &-heart {
                    color: var(--icon-text-color);
                    font-size: $size20;
                    padding: .5em 0 0 2em;
                    margin-right: 1em;
                }

                &-dowload {
                    color: var(--icon-text-color);
                    font-size: $size20;
                    padding: .3em .6em 0;
                    text-align: center;
                    border: 1px solid $buttom-active;
                    border-radius: 5px;
                }
            }
        }
    }

}

@media screen and (min-width: 1350px) {
    .trending {
        &-textcontainer {
            padding-bottom: 3em;

            &-title {
                font-size: $size25;
            }

            &-paragraph {
                font-size: $size18;
            }
        }

        &-container {
            max-width: $maxWdthDesktop;
            margin: auto;
            padding-bottom: 5em;
            display: flex;
            justify-content: space-between;

            &-buttom {
                margin-top: 11%;
            }

            &-card {
                width: 90%;

                &-gifs {
                    overflow: hidden;
                    height: 300px;
                    margin: 0 2em;
                    position: relative;
                }
            }

        }

        &-cardBack {
            display: none;
            height: 300px;
            width: 316px;
            flex-direction: column;
            position: absolute;
            width: 300px;
            height: 100%;
            background: var(--navbar-bg-mobile);
            // transform: perspective(2000px) rotateY(-90deg);

            &-iconContainer {
                display: flex;
                align-self: end;
                margin: 1em 1em;

                &-icon {
                    background-color: $color-white-opacity7;
                    width: 1em;
                    border-radius: 5px;
                    color: var(--icon-text-color);
                    text-align: center;
                    padding: .5em;
                    margin-left: .5em;
                }

                :hover {
                    background-color: $color-white;
                }
            }

            &-infoContainer {
                font-family: $Roboto;
                padding: 9em 0 0 1em;

                &-user {
                    margin: 0;
                    font-size: 15px;
                    font-weight: 300;
                    color: $color-white;
                    padding-bottom: .5em;
                }

                &-title {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 700;
                    color: $color-white;
                }
            }
        }

        &-cardExpanded {
            &-iconX {
                margin-right: 15%;
            }

            &-imageContainer {
                display: flex;
                width: 50%;
                margin: auto;

                &-buttom {
                    display: flex;
                }

                &-image {
                    margin: 0 2em;
                }
            }

            &-container {
                width: 50%;
                margin: auto;
            }
        }
    }
}