.trending {
    background-color: var(--background-dark);
    padding: 4em 0;

    &-textcontainer {
        text-align: center;
        margin: auto;
        padding-bottom: 2em;

        &-title {
            font-family: $Montserrat;
            font-weight: 700;
            color: var(--icon-text-color);
            font-size: $size20;
            line-height: $size30;
            margin: 0;
            padding-bottom: .5em;
        }

        &-paragraph {
            font-family: $Roboto;
            font-size: $size16;
            color: var(--text-color);
            line-height: $size22;
            width: 50%;
            margin: auto;
        }
    }

    &-container {
        overflow: hidden;

        &-card {
            display: flex;
            overflow: scroll;

            &-gifs {
                height: 200px;
                margin-left: 5%;
                display: flex;
            }
        }
    }

    &-cardExpanded {
        display: none;
        background: var(--backgroundCardExpanded);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 1;

        &-iconX {
            color: var(--icon-text-color);
            font-size: 30px;
            text-align: right;
            margin: 2em 15%;
            cursor: pointer;
        }

        &-imageContainer {
            display: flex;
            justify-content: center;

            &-buttom {
                display: none;
            }

            &-image {
                width: 20em;
                height: 20em;
            }
        }

        &-container {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: auto;
            padding-top: 2em;

            &-info {
                color: var(--text-color);

                &-user {
                    font-family: $Roboto;
                    font-size: $size15;
                    font-weight: 400;
                    margin: 0;
                    padding-bottom: .5em;
                }

                &-title {
                    font-family: $Montserrat;
                    font-weight: 700;
                    font-size: $size16;
                    margin: 0;
                }
            }

            &-containerIcons {
                display: flex;

                &-heart {
                    color: var(--icon-text-color);
                    text-align: center;
                    font-size: $size20;
                    margin-right: .5em;
                    height: 2em;
                    width: 2em;
                    border: 1px solid $buttom-active;
                    cursor: pointer;
                }

                &-dowload {
                    color: var(--icon-text-color);
                    font-size: $size20;
                    text-align: center;
                    border: 1px solid $buttom-active;
                    border-radius: 5px;
                    height: 2em;
                    width: 2em;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (min-width: 1350px) {
    .trending {
        &-textcontainer {
            padding-bottom: 3em;

            &-title {
                font-size: $size25;
            }

            &-paragraph {
                font-size: $size18;
            }
        }

        &-container {
            max-width: $maxWdthDesktop;
            height: 300px;
            margin: auto;
            padding-bottom: 5em;
            display: flex;
            justify-content: space-between;

            &-buttom {
                margin-top: 11%;
            }

            &-card {
                width: 100%;
                overflow: hidden;
                margin: 0 2em;

                &-gifs {
                    height: 100%;
                    width: 300px;
                    margin-left: 0;
                    margin: 0 1em;
                    position: relative;
                }
            }

        }

        &-cardExpanded {
            &-imageContainer {
                margin: auto;

                &-buttom {
                    display: flex;
                    margin-top: 6em;
                }

                &-image {
                    margin: 0 2em;
                    width: 30em;
                    height: 25em;
                }
            }

            &-container {
                width: 30em;
            }
        }
    }

    .trending-container-card-gifs:hover .cardBack {
        transform: rotateX(0) scale(1);
    }
}

.fas {
    padding: .5em .2em;
    border-radius: 5px;
}

.far {
    padding: .5em .2em;
    border-radius: 5px;
}