.gifCreation {
    display: none;
}

@media screen and (min-width: 1350px) {
    .gifCreation {
        display: initial;
        background: transparent;
        border: 1px solid var(--icon-text-color);
        border-radius: 50%;
        height: 50px;
        width: 50px;
        color: var(--icon-text-color);
        cursor: pointer;
        
        &-icon {
            font-size: $size24;
        }
    }
    .gifCreation:hover {
        background: var(--icon-text-color);
        color: var(--buttom-hover);
    }
    .gifCreation:active {
        background: $buttom-active;
    }
}

.button {
    border: 1px solid var(--icon-text-color);
    border-radius: $size25;
    border-radius: $size25;
    padding: 1em 2em;
    color: var(--icon-text-color);
    font-family: $Montserrat;
    font-size: $size13;
    font-weight: 700;
    background: transparent;
}
.button:hover {
    background: var(--icon-text-color);
    color: var(--buttom-hover);
}

.buttonArrow {
    display: none;
}
.buttonArrow:hover {
    background: var(--icon-text-color);
    color: var(--buttom-hover);
}

@media screen and (min-width: 1350px) {
    .buttonArrow {
        border: 1px solid var(--icon-text-color);
        height: 35px;
        width: 35px;
        padding: .5em;
        color: var(--icon-text-color);
        font-size: $size24;
        display: flex;
        align-items: center;
        background: transparent;
        justify-content: center;
    }
}

.buttonPagination {
    border: 1px solid var(--icon-text-color);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: transparent;
    color: var(--icon-text-color);
    font-size: $size18;
    text-align: center;
    font-family: $Roboto;
}
.buttonPagination:hover {
    background: var(--icon-text-color);
    color: var(--buttom-hover);
}