.gifCreation {
    background: transparent;
    border: 1px solid $color-purple;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: $color-purple;
    cursor: pointer;
    
    &-icon {
        font-size: $size24;
    }
}
.gifCreation:hover {
    background: $color-purple;
    color: $color-white;
}

.button {
    border: 1px solid $color-purple;
    border-radius: $size25;
    border-radius: $size25;
    padding: 1em 2em;
    color: $color-purple;
    font-family: $Montserrat;
    font-size: $size13;
    font-weight: 700;
    background: transparent;
}
.button:hover {
    background: $color-purple;
    color: $color-white;
}

.buttonArrow {
    border: 1px solid $color-purple;
    height: 40px;
    width: 40px;
    padding: .5em;
    color: $color-purple;
    font-size: $size24;
    display: flex;
    align-items: center;
    background: transparent;
    justify-content: center;
}
.buttonArrow:hover {
    background: $color-purple;
    color: $color-white;
}

.buttonPagination {
    border: 1px solid $color-purple;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: transparent;
    color: $color-purple;
    font-size: $size18;
    text-align: center;
    font-family: $Roboto;
}
.buttonPagination:hover {
    background: $color-purple;
    color: $color-white;
}