.cardBack {
    display: none;
}

@media screen and (min-width: 1350px) {
    .cardBack {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        height: 100%;
        width: 100%;
        background: var(--navbar-bg-mobile);
        transform: rotateX(90deg) scale(0);
        transition: all 0.4s ease;

        &-iconContainer {
            display: flex;
            align-self: end;
            margin: 1em 1em;

            &-icon {
                background-color: $color-white-opacity7;
                border-radius: 5px;
                color: var(--line-color);
                text-align: center;
                margin-left: .5em;
                cursor: pointer;
            }

            :hover {
                background-color: $color-white;
            }
        }

        &-infoContainer {
            font-family: $Roboto;
            padding: 0 1em 2em 1em;
            text-align: left;

            &-user {
                margin: 0;
                font-size: 15px;
                font-weight: 300;
                color: $color-white;
                padding-bottom: .5em;
            }

            &-title {
                margin: 0;
                font-size: 16px;
                font-weight: 700;
                color: $color-white;
            }
        }
    }
}