.button {
    border: 1px solid $purple;
    border-radius: $size25;
    border-radius: $size25;
    padding: 1em 2em;
    color: $purple;
    font-family: $Montserrat;
    font-size: $size13;
    font-weight: 700;
    background: transparent;
}