// Colors
$BackWhite: #FFFFFF;
$BackWhiteDark: #F3F5F8;

// Color Dark mode
$BackGrayDark: #222326;
$BackGrayLight: #37383C;
$BackBlack: #000000;

// Text Colors
$purple: #572EE5;
$black: #000000;
$gray: #6B7989;
$grayLight: #9CAFC3;
$white: #FFFFFF;
$greenLight: #50E3C2;

// Font Family
$Montserrat: 'Montserrat', sans-serif;
$Roboto: 'Roboto', sans-serif;

// Fonts sizes
$size13: 13px;
$size14: 14px;
$size15: 15px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size25: 25px;
$size35: 35px;
$size40: 40px;

// Max width
