.header {
    background-color: $BackWhite;

    &-line {
        height: 5px;
        background-color: $purple;
    }

    &-imgContainer {
        max-width: $maxWdthMobile;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding-top: 1.5em;

        &-logo {
            &-mobile {
                &-noc {
                    display: none;
                }
            }

            &-desktop {
                display: none;

                &-noc {
                    display: none;
                }
            }
        }

        &-icon {
            font-size: $size24;
            color: $purple;
        }

        &-iconX {
            display: none;
            font-size: $size24;
            color: $purple;
        }
    }
}

.navbar {
    display: none;
    position: absolute;
    width: 100%;
    margin: 1em 0 0;
    background: rgba(87, 46, 229, 0.90);
    height: 90vh;
    font-family: $Montserrat;
    font-weight: 700;
    font-size: $size15;
    text-transform: capitalize;
    line-height: $size60;

    &-items {
        list-style: none;
        text-align: center;
        padding: 1em 0 0;

        &-item {
            position: relative;

            &-link {
                text-decoration: none;
                color: $BackWhite;
                display: block;

                &-gifos {
                    text-transform: uppercase;
                }
            }

            :first-child::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: calc(50% - 20px);
                width: 40px;
                border-bottom: 1px solid $BackWhite;
            }
        }
    }

    &-buttonCreate {
        display: none;
    }
}

@media screen and (min-width: 1350px) {
    .header {
        max-width: $maxWdthDesktop;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1em;

        &-imgContainer {
            margin: 0;
            padding: 0;

            &-logo {
                &-mobile {
                    display: none;
                }

                &-desktop {
                    display: initial;
                }
            }

            &-icon {
                display: none;
            }
        }
    }

    .navbar {
        display: flex;
        position: initial;
        height: initial;
        width: initial;
        line-height: initial;
        background: $BackWhite;
        font-size: $size13;
        margin: 0;

        &-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;

            &-item {
                padding-right: 4em;

                &-link {
                    color: $purple;
                }
            }
        }

        &-link {
            text-decoration: none;

            &-buttonCreate {
                background: transparent;
                border: 1px solid $purple;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                &-icon {
                    color: $purple;
                    font-size: $size24;
                }
            }
        }
    }
}