.principal {
    // display: none;
    max-width: $maxWdthMobile;
    margin: auto;
    padding: 2em 0;

    &-title {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: $size25;
        color: $purple;
        text-align: center;
        line-height: $size33;
        width: 80%;
        margin: auto;
        padding-bottom: 1.5em;

        &-GIFOS {
            color: $greenLight;
        }
    }

    &-container {
        display: flex;
        justify-content: center;

        &-img {
            max-width: 80%;
        }
    }

    &-searchBar {
        height: 50px;
        width: 100%;
        margin: auto;
        background: $BackWhite;
        border: 1px solid $purple;
        border-radius: $size27;
        border-radius: $size27;

        &-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: inherit;
            
            &-text {
                font-family: $Roboto;
                font-weight: 400;
                font-size: $size16;
                color: $gray;
                text-align: left;
                margin: 0;
            }
    
            &-icon {
                color: $purple;
                font-size: $size24;
            }
        }
    }

    &-subTitle {
        font-family: $Montserrat;
        font-weight: 700;
        font-size: $size16;
        color: $purple;
        text-align: center;
        line-height: $size25;
        margin: 0;
        padding-top: 2em;
    }

    &-paragraph {
        font-family: $Montserrat;
        font-size: $size14;
        color: $purple;
        text-align: center;
        line-height: $size25;
        width: 60%;
        margin: auto;
    }
}