.trending {
    background-color: $BackWhiteDark;
    padding: 2em 0 4em;

    &-container {
        text-align: center;
        margin: auto;
        width: 35%;

        &-title {
            font-family: $Montserrat;
            font-weight: 700;
            color: $purple;
            font-size: $size20;
            line-height: $size30;
            margin: 0;
        }

        &-paragraph {
            font-family: $Roboto;
            font-size: $size16;
            color: $BackBlack;
            line-height: $size22;
        }
    }

    &-gifs {}
}

@media screen and (min-width: 1350px) {
    .trending {
        padding: 4em 0 8em;

        &-container {
            padding-bottom: 2em;

            &-title {
                font-size: $size25;
            }

            &-paragraph {
                font-size: $size18;
            }
        }
    }
}