:root {
  --background-light: #FFFFFF;
  --icon-text-color: #572EE5;
  --buttom-hover: #FFFFFF;
  --navbar-bg-mobile: rgba(87, 46, 229, 0.90);
  --background-dark: #F3F5F8;
  --text-color: #000000;
  --icon-hover: #572EE5;
  --line-color: #572EE5;
}

[data-theme='dark'] {
  --background-light: #37383C;
  --icon-text-color: #FFFFFF;
  --buttom-hover: #000000;
  --navbar-bg-mobile: rgba(34, 34, 34, 0.95);
  --background-dark: #222326;
  --text-color: #FFFFFF;
  --icon-hover: #FFFFFF;
  --line-color: #000000;
}

.gifCreation {
  display: none;
}

@media screen and (min-width: 1350px) {
  .gifCreation {
    display: initial;
    background: transparent;
    border: 1px solid var(--icon-text-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: var(--icon-text-color);
    cursor: pointer;
  }
  .gifCreation-icon {
    font-size: 24px;
  }
  .gifCreation:hover {
    background: var(--icon-text-color);
    color: var(--buttom-hover);
  }
  .gifCreation:active {
    background: #9CAFC3;
  }
}

.button {
  border: 1px solid var(--icon-text-color);
  border-radius: 25px;
  border-radius: 25px;
  padding: 1em 2em;
  color: var(--icon-text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  background: transparent;
}

.button:hover {
  background: var(--icon-text-color);
  color: var(--buttom-hover);
}

.buttonArrow {
  display: none;
}

.buttonArrow:hover {
  background: var(--icon-text-color);
  color: var(--buttom-hover);
}

@media screen and (min-width: 1350px) {
  .buttonArrow {
    border: 1px solid var(--icon-text-color);
    height: 35px;
    width: 35px;
    padding: .5em;
    color: var(--icon-text-color);
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.buttonPagination {
  border: 1px solid var(--icon-text-color);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: transparent;
  color: var(--icon-text-color);
  font-size: 18px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-left: .5em;
}

.buttonPagination:hover {
  background: var(--icon-text-color);
  color: var(--buttom-hover);
}

.lineUp {
  height: 5px;
  background-color: var(--line-color);
  width: 100%;
  position: fixed;
  z-index: 2;
}

.lineDown {
  height: 5px;
  background-color: var(--line-color);
}

.gifGalery {
  text-align: center;
  padding: 6em 0 4em;
  max-width: 90%;
  margin: auto;
}

.gifGalery-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--icon-text-color);
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
  margin: 0;
}

.gifGalery-noContent {
  padding-top: 5em;
  width: 90%;
  margin: auto;
}

.gifGalery-noContent-content {
  color: #50E3C2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700px;
  font-size: 22px;
  line-height: 33px;
}

.gifGalery-container {
  display: none;
  padding: 2em 0 3em;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 5%;
}

@media screen and (min-width: 768px) {
  .gifGalery-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2em;
  }
}

@media screen and (min-width: 1350px) {
  .gifGalery {
    max-width: 80%;
  }
  .gifGalery-title {
    font-size: 25px;
  }
  .gifGalery-noContent {
    padding-top: 7em;
    width: 40%;
  }
  .gifGalery-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.animationCamara {
  position: relative;
}

.animationCamara-cameraLight {
  position: absolute;
  top: 0;
  margin-top: -1.4em;
  -webkit-animation: recording 5s infinite;
          animation: recording 5s infinite;
}

.animationCamara-bigTape {
  position: absolute;
  top: 0;
  margin-top: -5em;
  left: 3.5em;
  animation: TapeBig 6s alternate-reverse infinite;
}

.animationCamara-smallTape {
  position: absolute;
  left: 0;
  margin-top: -3em;
  -webkit-animation: TapeBig 10s infinite;
          animation: TapeBig 10s infinite;
}

@-webkit-keyframes recording {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: .2;
  }
}

@keyframes recording {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: .2;
  }
}

@-webkit-keyframes TapeBig {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes TapeBig {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.movieTape {
  -webkit-animation: recording 5s forwards infinite;
          animation: recording 5s forwards infinite;
}

@-webkit-keyframes movieTape {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes movieTape {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.header {
  width: 100%;
  background-color: var(--background-light);
  position: fixed;
  z-index: 1;
}

.header-container-wrapper {
  max-width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-icon {
  font-size: 24px;
  color: VAR(--icon-text-color);
  padding-top: 1.2em;
}

.header-icon.active {
  display: none;
}

.header-iconX {
  display: none;
  font-size: 24px;
  color: var(--icon-text-color);
  padding-top: 1.2em;
}

.header-iconX.active {
  display: initial;
}

.header-imgContainer {
  max-width: 90%;
  margin: 0;
  padding: 1.5em 0 .5em;
}

.header-imgContainer-logo-mobile-noc {
  display: none;
}

.header-imgContainer-logo-desktop {
  display: none;
}

.header-imgContainer-logo-desktop-noc {
  display: none;
}

.navbar {
  display: none;
  position: absolute;
  width: 100%;
  background: var(--navbar-bg-mobile);
  height: 90vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 60px;
}

.navbar.active {
  display: initial;
  position: fixed;
  top: 5.6em;
}

.navbar-items {
  list-style: none;
  text-align: center;
  padding: 1em 0 0;
}

.navbar-items-item {
  position: relative;
}

.navbar-items-item-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

.navbar-items-item-link-gifos {
  text-transform: uppercase;
}

.navbar-items-item :first-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 40px;
  border-bottom: 1px solid #FFFFFF;
}

@media screen and (min-width: 1350px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1em;
  }
  .header-container {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-container-wrapper {
    margin: 0;
  }
  .header-icon {
    display: none;
  }
  .header-iconX {
    display: none;
  }
  .header-imgContainer {
    margin: 0;
    padding: 0;
  }
  .header-imgContainer-logo-mobile {
    display: none;
  }
  .header-imgContainer-logo-desktop {
    display: initial;
  }
  .header-imgContainer-icon {
    display: none;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    height: initial;
    width: initial;
    line-height: initial;
    background: transparent;
    font-size: 13px;
    margin: 0;
  }
  .navbar-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0 0 .5em;
  }
  .navbar-items-item {
    padding-right: 4em;
  }
  .navbar-items-item-link {
    color: var(--icon-text-color);
    position: relative;
  }
  .navbar-items-item :first-child::after {
    display: none;
  }
  .navbar-items-item :before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -20%;
    height: .2em;
    width: 100%;
    background: #50E3C2;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform .4s linear;
    transition: -webkit-transform .4s linear;
    transition: transform .4s linear;
    transition: transform .4s linear, -webkit-transform .4s linear;
  }
  .navbar-items-item :hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .navbar-link {
    text-decoration: none;
  }
}

.principal {
  background-color: var(--background-light);
  width: 100%;
}

.principal-wrapper {
  width: 90%;
  margin: auto;
  padding: 7em 0 2em;
}

.principal-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: var(--icon-text-color);
  text-align: center;
  line-height: 33px;
  width: 80%;
  margin: auto;
  padding-bottom: 1.5em;
}

.principal-title-GIFOS {
  color: #50E3C2;
}

.principal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.principal-container-img {
  max-width: 80%;
}

.principal-bar {
  width: 100%;
  margin: auto;
  background: transparent;
  border: 1px solid var(--icon-text-color);
  border-radius: 27px;
  border-radius: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.principal-bar-searchBar {
  height: 50px;
  width: 70%;
  margin-left: 2em;
  border: none;
  background: transparent;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.principal-bar-autoComplete {
  display: none;
  padding-left: 1.5em;
  list-style: none;
  cursor: default;
}

.principal-bar-autoComplete-results {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principal-bar-autoComplete-results-icon {
  color: #6B7989;
}

.principal-bar-autoComplete-results-list {
  padding: .5em 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #6B7989;
}

.principal-bar ::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #6B7989;
}

.principal-bar :-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #6B7989;
}

.principal-bar ::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #6B7989;
}

.principal-bar ::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #6B7989;
}

.principal-bar-icon {
  color: var(--icon-text-color);
  font-size: 24px;
  position: absolute;
  right: 1.2em;
  top: .5em;
  cursor: pointer;
}

.principal-bar-iconX {
  opacity: 0;
  color: var(--icon-text-color);
  font-size: 30px;
  position: absolute;
  right: 1.1em;
  top: .3em;
  cursor: pointer;
}

.principal :focus {
  outline: none;
}

.principal-introContainer {
  margin-top: 2em;
  width: 60%;
  margin: auto;
  color: var(--icon-text-color);
  text-align: center;
}

.principal-introContainer-subTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.principal-introContainer-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 25px;
}

@media screen and (min-width: 768px) {
  .principal-title {
    width: 50%;
  }
  .principal-bar {
    width: 70%;
  }
  .principal-introContainer {
    width: 30%;
  }
}

@media screen and (min-width: 1100px) {
  .principal-wrapper {
    max-width: 80%;
  }
  .principal-title {
    font-size: 35px;
    width: 50%;
    line-height: 50px;
    padding-bottom: 1em;
  }
  .principal-bar {
    width: 50%;
  }
  .principal-bar-searchBar {
    width: 80%;
  }
  .principal-introContainer {
    margin-top: 5em;
  }
  .principal-introContainer-subTitle {
    font-size: 18px;
  }
  .principal-introContainer-paragraph {
    font-size: 16px;
  }
}

.trending {
  background-color: var(--background-dark);
  padding: 4em 0;
}

.trending-textcontainer {
  text-align: center;
  margin: auto;
  padding-bottom: 2em;
}

.trending-textcontainer-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--icon-text-color);
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-bottom: .5em;
}

.trending-textcontainer-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  line-height: 22px;
  width: 50%;
  margin: auto;
}

.trending-container-card-gifs {
  height: 200px;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.trending-cardBack {
  display: none;
}

.trending-cardExpanded {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.trending-cardExpanded-iconX {
  color: var(--icon-text-color);
  font-size: 25px;
  text-align: right;
  margin: 2em 5%;
  cursor: pointer;
}

.trending-cardExpanded-imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trending-cardExpanded-imageContainer-buttom {
  display: none;
}

.trending-cardExpanded-imageContainer-image {
  width: 20em;
  height: 20em;
}

.trending-cardExpanded-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 2em;
}

.trending-cardExpanded-container-info {
  color: var(--text-color);
}

.trending-cardExpanded-container-info-user {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding-bottom: .5em;
}

.trending-cardExpanded-container-info-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.trending-cardExpanded-container-containerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending-cardExpanded-container-containerIcons-heart {
  color: var(--icon-text-color);
  font-size: 20px;
  margin-right: .5em;
  height: 2em;
  width: 2em;
  border: 1px solid #9CAFC3;
  cursor: pointer;
}

.trending-cardExpanded-container-containerIcons-dowload {
  color: var(--icon-text-color);
  font-size: 20px;
  text-align: center;
  border: 1px solid #9CAFC3;
  border-radius: 5px;
  height: 2em;
  width: 2em;
  cursor: pointer;
}

@media screen and (min-width: 1350px) {
  .trending-textcontainer {
    padding-bottom: 3em;
  }
  .trending-textcontainer-title {
    font-size: 25px;
  }
  .trending-textcontainer-paragraph {
    font-size: 18px;
  }
  .trending-container {
    max-width: 80%;
    margin: auto;
    padding-bottom: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .trending-container-buttom {
    margin-top: 11%;
  }
  .trending-container-card {
    width: 90%;
  }
  .trending-container-card-gifs {
    overflow: hidden;
    height: 300px;
    margin: 0 2em;
    position: relative;
  }
  .trending-cardBack {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    height: 100%;
    background: var(--navbar-bg-mobile);
  }
  .trending-cardBack-iconContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: end;
    margin: 1em 1em;
  }
  .trending-cardBack-iconContainer-icon {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: var(--icon-text-color);
    text-align: center;
    margin-left: .5em;
    cursor: pointer;
  }
  .trending-cardBack-iconContainer :hover {
    background-color: #FFFFFF;
  }
  .trending-cardBack-infoContainer {
    font-family: "Roboto", sans-serif;
    padding: 9em 0 0 1em;
  }
  .trending-cardBack-infoContainer-user {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
    padding-bottom: .5em;
  }
  .trending-cardBack-infoContainer-title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
  }
  .trending-cardExpanded-imageContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
    margin: auto;
  }
  .trending-cardExpanded-imageContainer-buttom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6em;
  }
  .trending-cardExpanded-imageContainer-image {
    margin: 0 2em;
    width: 30em;
    height: 25em;
  }
  .trending-cardExpanded-container {
    width: 30em;
  }
}

.fas {
  padding: .5em;
  border-radius: 5px;
}

.far {
  padding: .5em;
  border-radius: 5px;
}

.footer {
  background-color: var(--background-light);
}

.footer-container-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
  text-align: center;
  margin: 0;
  padding: 4em 0 1.5em;
}

.footer-container-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container-icons-icon {
  font-size: 20px;
  padding: 0 .5em;
  color: #6B7989;
}

.footer-container-pie {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
  line-height: 20px;
  margin: 0;
  padding: 3em 0 2em;
}

@media screen and (min-width: 1350px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 3em 0;
    max-width: 80%;
    margin: auto;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-container-icons {
    padding-left: 1em;
  }
  .footer-container-icons :hover {
    color: var(--icon-hover);
  }
  .footer-container-text {
    font-size: 13px;
    padding: 0;
  }
  .footer-container-pie {
    font-size: 13px;
    line-height: 13px;
    padding: 0;
  }
}

.createGIF {
  display: none;
  position: relative;
}

.createGIF-wrapper {
  background-color: var(--background-light);
  height: 83vh;
}

.createGIF-record {
  position: absolute;
  top: 15em;
  left: 10em;
}

.createGIF-tape {
  position: absolute;
  top: 25em;
  left: 75em;
}

.createGIF-container {
  padding: 6em 0 0 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createGIF-container-square {
  border: 2px solid var(--icon-text-color);
  height: 350px;
  width: 48%;
  margin: auto;
  position: relative;
}

.createGIF-container-square-video {
  border: 3px solid #50E3C2;
  height: 90%;
  width: 95%;
  margin: 2% auto;
  position: relative;
}

.createGIF-container-square-video-broadness {
  background-color: var(--background-light);
  width: 102%;
  height: 80%;
  margin: 5% -.3em;
}

.createGIF-container-square-video-highness {
  background-color: var(--background-light);
  height: 110%;
  width: 90%;
  margin: -21em 2em;
}

.createGIF-container-buttoms {
  padding: 1em 0;
}

.createGIF-container-line {
  border: 4px solid var(--icon-text-color);
  border-radius: 20px;
  width: 60%;
  margin-bottom: 1em;
}

.serchingResult {
  display: none;
}

.favorites {
  display: none;
}

.favorites-wrapper {
  background-color: var(--background-light);
}

.myGifos {
  display: none;
}

.myGifos-wrapper {
  background-color: var(--background-light);
}
/*# sourceMappingURL=styles.css.map */