.line {
  height: 5px;
  background-color: #572EE5;
}

.button {
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  padding: 1em 2em;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  background: transparent;
}

.button:hover {
  background: #572EE5;
  color: #FFFFFF;
}

.buttonArrow {
  border: 1px solid #572EE5;
  height: 40px;
  width: 40px;
  padding: .5em;
  color: #572EE5;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonArrow:hover {
  color: #FFFFFF;
  background: #572EE5;
}

.buttonPagination {
  border: 1px solid #572EE5;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: transparent;
  color: #572EE5;
  font-size: 18px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.buttonPagination:hover {
  color: #FFFFFF;
  background: #572EE5;
}

.header {
  background-color: #FFFFFF;
}

.header-imgContainer {
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 1.5em;
}

.header-imgContainer-logo-mobile-noc {
  display: none;
}

.header-imgContainer-logo-desktop {
  display: none;
}

.header-imgContainer-logo-desktop-noc {
  display: none;
}

.header-imgContainer-icon {
  font-size: 24px;
  color: #572EE5;
}

.header-imgContainer-iconX {
  display: none;
  font-size: 24px;
  color: #572EE5;
}

.navbar {
  display: none;
  position: absolute;
  width: 100%;
  margin: 1em 0 0;
  background: rgba(87, 46, 229, 0.9);
  height: 90vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 60px;
}

.navbar-items {
  list-style: none;
  text-align: center;
  padding: 1em 0 0;
}

.navbar-items-item {
  position: relative;
}

.navbar-items-item-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

.navbar-items-item-link-gifos {
  text-transform: uppercase;
}

.navbar-items-item :first-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 40px;
  border-bottom: 1px solid #FFFFFF;
}

.navbar-buttonCreate {
  display: none;
}

@media screen and (min-width: 1350px) {
  .header {
    max-width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1em;
  }
  .header-imgContainer {
    margin: 0;
    padding: 0;
  }
  .header-imgContainer-logo-mobile {
    display: none;
  }
  .header-imgContainer-logo-desktop {
    display: initial;
  }
  .header-imgContainer-icon {
    display: none;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    height: initial;
    width: initial;
    line-height: initial;
    background: #FFFFFF;
    font-size: 13px;
    margin: 0;
  }
  .navbar-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .navbar-items-item {
    padding-right: 4em;
  }
  .navbar-items-item-link {
    color: #572EE5;
    position: relative;
  }
  .navbar-items-item :first-child::after {
    display: none;
  }
  .navbar-items-item :before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -20%;
    height: .2em;
    width: 100%;
    color: black;
    background: #50E3C2;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform .4s linear;
    transition: -webkit-transform .4s linear;
    transition: transform .4s linear;
    transition: transform .4s linear, -webkit-transform .4s linear;
  }
  .navbar-items-item :hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .navbar-link {
    text-decoration: none;
  }
  .navbar-link-buttonCreate {
    background: transparent;
    border: 1px solid #572EE5;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #572EE5;
  }
  .navbar-link-buttonCreate-icon {
    font-size: 24px;
  }
  .navbar-link :hover {
    background: #572EE5;
    color: #FFFFFF;
  }
}

.principal {
  max-width: 90%;
  margin: auto;
  padding: 2em 0;
}

.principal-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
  width: 80%;
  margin: auto;
  padding-bottom: 1.5em;
}

.principal-title-GIFOS {
  color: #50E3C2;
}

.principal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.principal-container-img {
  max-width: 80%;
}

.principal-bar {
  height: 50px;
  width: 100%;
  margin: auto;
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principal-bar-searchBar {
  width: 80%;
  height: 44px;
  margin-left: 1.5em;
  border: none;
}

.principal-bar ::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6B7989;
}

.principal-bar :-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6B7989;
}

.principal-bar ::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6B7989;
}

.principal-bar ::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6B7989;
}

.principal-bar-icon {
  color: #572EE5;
  font-size: 24px;
}

.principal-bar-containerIconX {
  display: none;
}

.principal :focus {
  outline: none;
}

.principal-introContainer {
  padding-top: 2em;
  width: 40%;
  margin: auto;
  color: #572EE5;
  text-align: center;
}

.principal-introContainer-subTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.principal-introContainer-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 25px;
}

@media screen and (min-width: 1350px) {
  .principal {
    max-width: 80%;
    padding: 5em 0;
  }
  .principal-title {
    font-size: 35px;
    width: 50%;
    line-height: 50px;
    padding-bottom: 1em;
  }
  .principal-bar {
    width: 50%;
  }
  .principal-introContainer {
    padding-top: 5em;
  }
  .principal-introContainer-subTitle {
    font-size: 18px;
  }
  .principal-introContainer-paragraph {
    font-size: 16px;
  }
}

.searching {
  text-align: center;
  padding: 2em 0 5em;
  display: none;
}

.searching-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 40px;
  text-transform: capitalize;
}

.newSection {
  text-align: center;
  padding-bottom: 4em;
  max-width: 90%;
  margin: auto;
  display: none;
}

.newSection-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
  margin: 0;
}

.newSection-container {
  padding: 2em 0 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 120px;
  grid-auto-columns: auto;
  grid-gap: 2em;
}

.muestra {
  background: #572EE5;
}

@media screen and (min-width: 1350px) {
  .newSection {
    max-width: 80%;
  }
  .newSection-title {
    font-size: 25px;
  }
  .newSection-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
  }
}

.trending {
  background-color: #F3F5F8;
  padding: 4em 0 8em;
}

.trending-textcontainer {
  text-align: center;
  margin: auto;
  width: 35%;
  padding-bottom: 2em;
}

.trending-textcontainer-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #572EE5;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.trending-textcontainer-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 22px;
}

.trending-gifs {
  margin-left: 2em;
}

.trending-card {
  height: 187px;
  width: 243px;
  background: #50E3C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trending-card-mobile {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  height: inherit;
}

.trending-card-mobile-iconX {
  color: #572EE5;
  font-size: 20px;
}

.trending-card-mobile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending-card-mobile-container-info {
  color: #000000;
}

.trending-card-mobile-container-info-user {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0;
  padding-bottom: .5em;
}

.trending-card-mobile-container-info-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.trending-card-mobile-container-containerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending-card-mobile-container-containerIcons-icons-icon {
  color: #572EE5;
  font-size: 20px;
  padding: 1em;
}

.trending-card-back {
  display: none;
}

@media screen and (min-width: 1350px) {
  .trending-container {
    max-width: 80%;
    margin: auto;
  }
  .trending-textcontainer-title {
    font-size: 25px;
  }
  .trending-textcontainer-paragraph {
    font-size: 18px;
  }
  .trending-gifs {
    margin-left: 2em;
  }
  .trending-card {
    height: 275px;
    width: 357px;
  }
  .trending-card-back {
    display: initial;
    background: #572EE5;
    opacity: .6;
    position: relative;
    height: inherit;
  }
  .trending-card-back-iconsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .trending-card-back-iconsContainer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    background: #FFFFFF;
    opacity: 0.7;
    border-radius: 6px;
    border-radius: 6px;
    margin: 1em 1em 0 0;
  }
  .trending-card-back-iconsContainer-icons-icon {
    color: #572EE5;
    font-size: 18px;
    padding: 0.5em;
  }
  .trending-card-back-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: flex-end;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    padding-left: 2em;
    position: absolute;
    bottom: 4em;
  }
  .trending-card-back-info-user {
    font-size: 15px;
    margin: 0;
    padding-bottom: .5em;
  }
  .trending-card-back-info-title {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }
  .trending-card-mobile {
    display: none;
  }
}

.footer-container-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 4em 0 1.5em;
}

.footer-container-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container-icons-icon {
  font-size: 20px;
  padding: 0 .5em;
  color: #6B7989;
}

.footer-container-pie {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-align: center;
  line-height: 20px;
  margin: 0;
  padding: 3em 0 2em;
}

@media screen and (min-width: 1350px) {
  .footer {
    max-width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 3em 0;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-container-icons {
    padding-left: 2em;
  }
  .footer-container-icons-icon {
    color: #6B7989;
  }
  .footer-container-icons :hover {
    color: #572EE5;
  }
  .footer-container-text {
    font-size: 13px;
    padding: 0;
  }
  .footer-container-pie {
    font-size: 13px;
    line-height: 13px;
    padding: 0;
  }
}

.createGIF {
  display: none;
}

.createGIF-animationCamara {
  position: relative;
}

.createGIF-animationCamara-cameraLight {
  position: absolute;
  top: 0;
  margin-top: -1.4em;
  -webkit-animation: recording 5s infinite;
          animation: recording 5s infinite;
}

.createGIF-animationCamara-bigTape {
  position: absolute;
  top: 0;
  margin-top: -5em;
  left: 3.5em;
  animation: TapeBig 6s alternate-reverse infinite;
}

.createGIF-animationCamara-smallTape {
  position: absolute;
  left: 0;
  margin-top: -3em;
  -webkit-animation: TapeBig 10s infinite;
          animation: TapeBig 10s infinite;
}

.createGIF-movieTape {
  -webkit-animation: recording 5s forwards infinite;
          animation: recording 5s forwards infinite;
}

@-webkit-keyframes recording {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: .2;
  }
}

@keyframes recording {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: .2;
  }
}

@-webkit-keyframes TapeBig {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes TapeBig {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes movieTape {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes movieTape {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */